.main-footer {
    position: fixed;
    bottom:0px;
    width: 100%;
}

button {
    margin-left: 5px;
}

.table-actions {
    width: 150px;
}

@media (max-width:469px){
    .table-actions {
        width: 120px;
    }
}